<?xml version="1.0" encoding="UTF-8"?>

-<manifest android:versionName="1.0" android:versionCode="1" package="com.example.realmancala" xmlns:android="http://schemas.android.com/apk/res/android">

<uses-sdk android:targetSdkVersion="17" android:minSdkVersion="8"/>


-<application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:allowBackup="true">


-<activity android:label="@string/app_name" android:screenOrientation="landscape" android:name="com.example.realmancala.FirstScreenActivity">


-<intent-filter>

<action android:name="android.intent.action.MAIN"/>

<category android:name="android.intent.category.LAUNCHER"/>

</intent-filter>

</activity>

<activity android:label="@string/app_name" android:screenOrientation="landscape" android:name="com.example.realmancala.PlayGameActivity"> </activity>

<activity android:label="@string/app_name" android:screenOrientation="landscape" android:name="com.example.realmancala.GameOptionsActivity"> </activity>

<activity android:label="@string/app_name" android:screenOrientation="landscape" android:name="com.example.realmancala.StatsActivity"> </activity>

<activity android:label="@string/app_name" android:screenOrientation="landscape" android:name="com.example.realmancala.HowActivity"> </activity>

</application>

</manifest>
